.criticas {
    display: flex;
    flex-direction: column; 
    justify-content: space-between;
    align-items: center;
    height: 350px;
    width: 500px;
    background-color: #B6EADA;
    border-radius: 10px;
    margin: 10px;
    padding: 40px;
    box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.1);
    overflow: hidden;
  }
  
  .criticas img {
    height: 250px;
    width: 180px;
    object-fit: cover;
    margin-right: 10px;
  }
  
  .criticas .texto {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
  }
  
  .criticas h3 {
    font-size: 18px;
    margin: 10px;
    text-align: center;
    color: #5e5e5e;
    font-family: 'Trebuchet MS';
    align-self: flex-start;
    
  }
  
  .criticas p {
    font-size: 12px;
    margin: 0;
    text-align: center;
    color: #5e5e5e;
    font-family: 'Trebuchet MS';
  }
  
  .criticas .icones {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
  }
  
  .criticas .icones span {
    margin-right: 5px;
    font-size: 14px;
    color: #5e5e5e;
  }
  
  
  .criticas .icones-wrapper {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 100px; 
    width: 100%; 
  }
  